<html>
<head>
    <title> REGISTRATION FORM </title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h2> Registration Form </h2> <br>
    <div class ="login">
        <label> <b> First name
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="ENTER YOUR FIRST NAME">
        <br><br>
        <label> <b> Last name 
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="ENTER YOUR LAST NAME">
        <br><br>
        <label> <b> Username
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="ENTER YOUR USERNAME">
        <br><br>
        <label> <b> Password
        </b>
        </label>
        <input type="password" name="Uname" id="Uname" placeholder="ENTER YOUR PASSWORD">
        <br><br>
        <input type="checkbox" id = "check">
        <span> Remember Account </span>
        <br><br>
        <a href="/"><button> GO BACK! </button></a>
    </div>
</body>
</html>
